@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

:root {
  --black: #212121;
  --white: #efefef;
  --pearl: #ffffff;
  --purple: #e8d1f6;
  --blue: #29639c;
  --green: #00bcd4;
  --pink: #b73b3b;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--green);
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: transform 350ms ease;
  transform: translate(-50%, -50%) scale(0.3);
  z-index: 1000;
}

.custom-cursor--link {
  transform: translate(-50%, -50%) scale(1.25);
}
