.service-hero{
    background-color: #e69500;
    height: 100%;
    width: 100%;
}

.service-hero h1{
    text-align: center;
    padding-top: 2rem;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.service-main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.service-box{
    background-color: white;
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
}


.service-box i{
    font-size: 30px;
    color: #e69500;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center ;
}